<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-lg-6 col-10 mx-auto">
        <h1 class="my-3">Login</h1>
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username : </label>
                <input type="text"  class="form-control" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password : </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
            </div>
            
            <button class="btn btn-success">Login</button>
            <p>Dont have an Account? <a href="/register">Sign Up</a></p>
        </form>
    </div>
</div>