<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="col-lg-6">
        <% for(let item of cart) { %>
            <div class="col-6 mx-auto" >
                <h2><%= item.name %></h2>
                <p><%= item.price %></p>
            </div>

        <% } %>
    </div>
</div>